@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

h1 {
  padding-top: 160px;
  font-family: "Montserrat", sans-serif;
  color: #1190cb;
  font-size: 100px;
  text-align: center;
  font-weight: 900; }

/* animación h1 */
h1 {
  animation-name: movimiento;
  animation-duration: 3s;
  position: relative; }

@keyframes movimiento {
  0% {
    top: -250px; }
  100% {
    top: 0; } }

/* propiedades tarjetas*/
.img-crd,
.img-curs {
  max-width: 200px;
  min-height: 133px;
  text-align: center; }

p {
  color: #242424;
  font-family: "Roboto Slab", serif;
  font-size: 1rem; }

h2, h3 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 3rem;
  text-align: center;
  font-weight: 700; }

h3 {
  font-size: 1.5rem; }

.card_cursos {
  border-radius: 15px;
  box-shadow: 5px 5px 13px 0px rgba(177, 171, 171, 0.75);
  transition: transform 0.2s;
  text-align: center; }
  .card_cursos:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 30px 0px rgba(70, 62, 62, 0.75); }

.btn {
  background: linear-gradient(90deg, #1a138c 0%, #1190cb 100%); }

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 145px;
  z-index: 10;
  left: 0;
  background-color: #ffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  /* Menú de navegación */ }
  header .header {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem; }
    header .header .head-ing {
      display: flex;
      margin: auto 0 10px; }
      header .header .head-ing a {
        font-family: "Montserrat", sans-serif;
        color: #000;
        text-decoration: none;
        margin: auto 10px; }
  header nav {
    margin-top: 33px;
    background: linear-gradient(90deg, #1a138c 0%, #1190cb 100%); }
  header #btn-menu {
    display: none; }
  header #btn-menu:checked ~ ul.head-menu {
    left: 0; }
  header .boton {
    display: none; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      header .boton {
        float: right;
        display: block; }
        header .boton label {
          color: #1190cb;
          padding: 5xp;
          font-size: 27px;
          border-radius: 3px;
          cursor: pointer;
          position: absolute;
          top: 15px;
          right: 15px; } }
  header .head-menu {
    display: flex;
    justify-content: center; }
    header .head-menu li {
      font-weight: 500;
      list-style: none;
      margin: 0.5rem;
      align-items: flex-end; }
      header .head-menu li a {
        font-family: "Montserrat", sans-serif;
        color: #fff;
        text-decoration: none;
        transition: all 500ms ease;
        border-bottom: 4px solid transparent; }
        header .head-menu li a:hover {
          opacity: 0.5;
          border-bottom: 3px solid #fff; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      header .head-menu {
        display: block;
        position: absolute;
        background: #1190cb;
        width: 100%;
        height: 100vh;
        top: 70px;
        left: -100%;
        transition: all 500ms ease; } }

/* Página de inicio */
.container {
  max-width: 80%;
  margin: 0 auto; }
  .container .section1 {
    padding: 30px 0 30px; }
    .container .section1 .img_section1 {
      display: block;
      margin: auto;
      width: 70%; }
  .container .section-fund {
    max-width: 60%;
    margin: 0 auto; }
    .container .section-fund h3 {
      padding-bottom: 20px; }
  .container .section_cursos {
    margin-top: 50px; }
    .container .section_cursos h3 {
      margin-bottom: 35px; }
  .container .card-text {
    min-height: 100px;
    padding-top: 20px; }

/* Contenedor datos del curso */
.cur-box {
  /* Imagen referente al curso */
  /* Descripción del curso */
  /* Tarjeta con iconos y decripcion de los mismos */ }
  .cur-box .cur-img {
    margin: 50px 0;
    text-align: center; }
  .cur-box .cur-desc {
    width: 50%;
    margin: 20px 0;
    margin-left: 10%;
    padding-right: 30px; }
  .cur-box .cur-icons-cont {
    width: 50%;
    margin-right: 10%;
    padding-left: 5%;
    border-left: solid;
    border-color: #fe7a6e;
    /* Iconos de la tarjeta */ }
    .cur-box .cur-icons-cont .cur-icon {
      display: flex;
      align-items: center;
      justify-content: left;
      font-size: 30px;
      margin: 30px 0; }
      .cur-box .cur-icons-cont .cur-icon i {
        color: #1190cb; }
      .cur-box .cur-icons-cont .cur-icon p {
        padding-left: 25px;
        margin-bottom: auto; }

/* Link a la suscripción */
.cur-link {
  margin: 20px auto; }
  .cur-link a {
    font-family: "Montserrat", sans-serif;
    color: #1190cb;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600; }

/* Página de contacto */
/* Imagen principal */
.img_section1 {
  max-width: 85%; }

/* Formulario de contacto */
.form-floating {
  font-family: "Montserrat", sans-serif;
  color: #000; }

.snd-img {
  max-height: 700px; }

/* Footer */
footer {
  display: flex;
  margin-top: 50px;
  background-color: #1190cb; }
  footer .copyright {
    margin: 20px 20px 20px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none; }
    footer .copyright a {
      font-family: "Montserrat", sans-serif;
      color: #fff;
      font-size: 20px;
      text-decoration: none; }
  footer .foot-icon {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 30px;
    color: #fff; }

/* Media Querys */
/* Min 320 - Max 768 */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    padding-top: 100px; }
  h2, h3 {
    font-size: 2rem; }
  h3 {
    font-size: 1.5rem; }
  header {
    height: 70px; }
  .logo {
    height: 80%;
    width: auto; }
  .head-rigth {
    display: none; }
  .head-ing {
    height: 80%;
    width: auto;
    padding-bottom: 20%; }
  #btn-menu:checked ~ ul.head-menu {
    left: 0; }
  .boton {
    float: right;
    display: block; }
  #btn-menu {
    display: none; }
  .boton label {
    color: #1190cb;
    padding: 5xp;
    font-size: 27px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px; }
  .head-menu {
    display: block; }
  .crs-card-cont,
  .rec-card-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .us-sect {
    display: flex;
    flex-direction: column-reverse; }
  .us-img {
    height: 80%; }
  .cont-section {
    display: flex;
    flex-direction: column; }
  .copyright,
  .copyright a {
    font-size: 14px; }
  .us-body {
    flex-wrap: wrap-reverse; } }

/* Min 320 - Max 465 */
@media only screen and (min-width: 320px) and (max-width: 465px) {
  .cur-icons-cont {
    border-left: none; } }
