* {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 160px;
  font-family: "Montserrat", sans-serif;
  color: #1190cb;
  font-size: 100px;
  text-align: center;
  font-weight: 900;
}

/* animación h1 */
h1 {
  animation-name: movimiento;
  animation-duration: 3s;
  position: relative;
}

@keyframes movimiento {
  0% {
    top: -250px;
  }

  100% {
    top: 0;
  }
}

h2, h3 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
}


.btn {  
  background: linear-gradient(
    90deg,
    rgba(26, 19, 140, 1) 0%,
    rgba(17, 144, 203, 1) 100%
  );
}

/* Menú responsive */
.head-ing {
  display: flex;
  margin: auto 0 10px;
}

.head-ing a {
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-decoration: none;
  margin: auto 10px;
}

.logo {
  display: inline-block;
}

/* Cuerpo de la página */

.img-crd,
.img-curs {
  max-width: 200px;
  min-height: 133px;
  text-align: center;
}

.int-cards {
  text-align: center;
}



footer {
  display: flex;
  margin-top: 50px;
  background-color: #1190cb;
}

.copyright {
    margin: 20px 20px 20px;
}

.copyright, .copyright a {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.form-floating {
    font-family: "Montserrat", sans-serif;
    color: #000;
    }

.foot-icon {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 30px;
  color: #fff;
}

.rec-card {
  box-shadow: 5px 5px 13px 0px rgba(177, 171, 171, 0.75);
  -webkit-box-shadow: 5px 5px 13px 0px rgba(177, 171, 171, 0.75);
  -moz-box-shadow: 5px 5px 13px 0px rgba(177, 171, 171, 0.75);
  display: flex;
  flex-direction: column;
}

.card-text {
    margin-top: 1rem;
}

/* contacto HTML */

.f-btn {
    
}

/* desc-cursos HTML */

.cur-img {
  margin: 50px 0;
  text-align: center;
}

.cur-desc {
  width: 50%;
  margin: 20px 0;
  margin-left: 10%;
  padding-right: 30px;
}

.cur-icons-cont {
  width: 50%;
  margin-right: 10%;
  padding-left: 5%;
  border-left: solid;
  border-color: #fe7a6e;
}

.cur-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 30px;
  margin: 30px 0;
}

.cur-icon i {
  color: #1190cb;
}

.cur-icon p {
  padding-left: 25px;
  margin-bottom: auto;
}

.cur-link {
  margin: 20px auto;
}

.cur-link a {
  font-family: "Montserrat", sans-serif;
  color: #1190cb;
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    padding-top: 100px;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  header {
    height: 70px;
  }

  .logo {
    height: 80%;
    width: auto;
  }

  .head-rigth {
    display: none;
  }

  .head-ing {
    height: 80%;
    width: auto;
    padding-bottom: 20%;
  }
  
  .crs-card-cont,
  .rec-card-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .us-sect {
    display: flex;
    flex-direction: column-reverse;
  }

  .us-img {
    height: 80%;
  }

  .cont-section {
    display: flex;
    flex-direction: column;
  }

  .copyright,
  .copyright a {
    font-size: 14px;
  }

    .us-body {
        flex-wrap: wrap-reverse;
    }
}

  @media only screen and (min-width: 320px) and (max-width: 465px) {

    .cur-icons-cont {
        border-left: none;
    }
  }