/* Página de contacto */

/* Imagen principal */
.img_section1 {
    max-width: 85%;
}

/* Formulario de contacto */
.form-floating {
    font-family: "Montserrat", sans-serif;
    color: #000;
    }

