// tarjetas
.card_cursos {
    @include box;

    &:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 30px 0px rgba(70, 62, 62, 0.75);
    }
}

// botones
.btn {  
    background: linear-gradient(
    90deg,
    rgba(26, 19, 140, 1) 0%,
    rgba(17, 144, 203, 1) 100%
    );
}