$deg-blue: linear-gradient(
    90deg,
    rgba(26, 19, 140, 1) 0%,
    rgb(17, 144, 203) 100%
);

// extends



%whitext {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-decoration: none;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}
